/*--Styles Généraux--*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--Palette de couleurs--*/
:root {
  --noir-bleu: #040323;
  --noir: #1a1423;
  --violet: #3d314a;
  --bleu-fonce: #2b3a61;
  --bleu-pale: #54719b;
  --violet-pale: #8a90aa;
  --brun-pale: #bca8a1;
  --blanc: #ffffff;

  /*couleur extra*/
  --rouge: #ff0000;
}

/*--Styles body--*/

body {
  overflow-x: hidden;
}

/*-- Styles header--*/

.chap,
.introduction {
  position: relative;
  height: 100vh;
  width: 100vw;
  border: 1px solid var(--rouge);
  overflow: hidden;
}

.introduction {
  background: url(../img/img_arriere_plan/chapitre_00.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 50%;
  color: var(--blanc);
  position: relative;
}

.intro-texte {
  position: absolute;
  top: 5vh;
  left: 5vh;
  right: 5vh;
  z-index: 100;
}

.intro-texte h1 {
  font-size: 5vw;
  margin: 0;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  color: var(--white);
}

.info-projet {
  font-size: 11px;
  font-weight: 800;
  position: absolute;
  bottom: 1vh;
  left: 5vh;
  right: 5vh;
  z-index: 150;
  text-align: center;
  color: var(--white);
  font-family: "Quicksand", sans-serif;
}

/*--Animation Souris--*/

.action {
  position: absolute;
  bottom: 15vh;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

/*--Footer--*/

.credits {
  font-size: 11px;
  font-weight: 800;
  z-index: 150;
  text-align: center;
  color: var(--noir);
  font-family: "Quicksand", sans-serif;
}

/*--Bordure images--*/

img {
  border: 1px solid rgba(218, 0, 0, 0.5);
}

/*Gasp*/

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}

/*Spritesheet 1
  Hauteur image: 242px;
  Width image: 136px;
  Width Spritesheet: 32768px*/

.sprite1 {
  width: 20vw;
  aspect-ratio: 121/68;
  background-image: url(../img/img_elements_visuels/tomber_spritesheet.png);
  animation-name: tomber;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(241);
  background-position: 0 0;
  animation-play-state: paused;
  background-size: 24100% 100%;
  position: absolute;
}

@keyframes tomber {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -24100% 0;
  }
}

/* Spritesheet 2
  Hauteur image: 1080px;
  Width image: 1080px;
  Width Spritesheet: -237600px*/

.sprite2 {
  width: 30vw;
  aspect-ratio: 1/1;
  background-image: url(../img/img_elements_visuels/spritesheet.png);
  animation-name: feu;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(220);
  background-position: 0 0;
  animation-play-state: paused;
  background-size: 22000% 100%;
  position: absolute;
}

@keyframes feu {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -22000% 0;
  }
}

/* Scroll spritesheet*/

body.is-scrolling div.spritesheet div.sprite1,
body.is-scrolling div.spritesheet div.sprite2 {
  animation-play-state: running;
}

/*-- texte par chapitre--*/

.text-chapitre {
  position: absolute;
  top: 15vh;
  left: 10vh;
  right: 10vh;
  z-index: 100;
  font-size: 2vw;
  color: var(--blanc);
  font-family: "Quicksand", serif;
}

img {
  border: 1px solid rgba(218, 0, 0, 0.5);
}

/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/

#chapitre1 {
  background: url(../img/img_arriere_plan/chapitre_01.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}

/*--Objets chapitre 1--*/

.lit-cadre {
  position: absolute;
  width: 50vw;
  bottom: -5vw;
  left: 24vw;
  aspect-ratio: 5/3;
}

.lit-couverture {
  position: absolute;
  width: 50vw;
  bottom: -7vw;
  left: 30vw;
  aspect-ratio: 5/3;
}

.lune {
  position: absolute;
  width: 20vw;
  top: 15vw;
  aspect-ratio: 1/1;
}

.polaris-dort-debut {
  position: absolute;
  width: 25vw;
  bottom: 3vw;
  left: 33vw;
  z-index: 1;
  aspect-ratio: 1/1;
}

/*---------------------------------------------------------- 
# Chapitre 2
----------------------------------------------------------*/

#chapitre2 {
  background: url(../img/img_arriere_plan/chapitre_02.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}
/*-- Objets chapitre 2--*/

.polaris-lit-assis {
  position: absolute;
  width: 25vw;
  bottom: 5vw;
  left: 37vw;
  z-index: 1;
  aspect-ratio: 1/1;
}

.etoile {
  position: absolute;
  width: 10vw;
  left: 70vw;
  bottom: 50vh;
  aspect-ratio: 1/1;
}

.lit-chapitre-deux {
  position: absolute;
  width: 50vw;
  bottom: -5vw;
  left: 24vw;
  aspect-ratio: 5/3;
}
/*---------------------------------------------------------- 
# Chapitre 3
----------------------------------------------------------*/

#chapitre3 {
  background: url(../img/img_arriere_plan/chapitre_03.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}
/*--Objets chapitre 3--*/

.debout-polaris {
  position: absolute;
  width: 25vw;
  bottom: 10vw;
  left: 37vw;
  z-index: 1;
  aspect-ratio: 1/1;
}

.etoile-avancement {
  position: absolute;
  width: 10vw;
  left: 70vw;
  bottom: 25vw;
  aspect-ratio: 1/1;
}

.lit-chapitre-trois {
  position: absolute;
  width: 50vw;
  bottom: -5vw;
  left: 24vw;
  aspect-ratio: 5/3;
}

/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/

#chapitre4 {
  background: url(../img/img_arriere_plan/chapitre_04.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}

/*--Objet chapitre 4--*/

.etoile-guide {
  position: absolute;
  width: 10vw;
  left: 70vw;
  top: 20vh;
  aspect-ratio: 1/1;
}

.roche-chap-quatre {
  position: absolute;
  left: 40vw;
  bottom: -5vw;
  width: 20vw;
  aspect-ratio: 1/1;
}

/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/

#chapitre5 {
  background: url(../img/img_arriere_plan/chapitre_05.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}

/* --Objets chapitre 5--*/

.polaris-atterir {
  position: absolute;
  width: 25vw;
  bottom: 10vw;
  left: 37vw;
  z-index: 1;
  transform: scaleX(-1);
  aspect-ratio: 1/1;
}
.etoile-tombe {
  position: absolute;
  width: 10vw;
  left: 65vw;
  bottom: 50vh;
  aspect-ratio: 1/1;
}

.roche-chap-cinq {
  position: absolute;
  width: 25vw;
  bottom: -5vw;
  left: 37vw;
  aspect-ratio: 1/1;
}

.mot-encouragant {
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  z-index: 150;
  color: var(--blanc);
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
}

.sprite2 {
  position: absolute;
  bottom: 15vw;
  left: 5vw;
  aspect-ratio: 1/1;
}

/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/

#chapitre6 {
  background: url(../img/img_arriere_plan/chapitre_06.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}

/*-- Objets chapitre 6--*/

#chapitre6 .mot-encouragant p:first-child {
  position: absolute;
  left: 20vw;
  top: 40vh;
  color: var(--blanc);
  opacity: 70%;
}

#chapitre6 .mot-encouragant p:nth-child(2) {
  position: absolute;
  left: 30vw;
  top: 35vh;
  color: var(--blanc);
}

#chapitre6 .mot-encouragant p:nth-child(3) {
  position: absolute;
  left: 30vw;
  top: 45vh;
  color: var(--blanc);
}

.polaris-peur {
  position: absolute;
  width: 25vw;
  bottom: 10vw;
  left: 37vw;
  aspect-ratio: 1/1;
}

.etoile-peur {
  position: absolute;
  width: 10vw;
  left: 65vw;
  bottom: 50vh;
  aspect-ratio: 1/1;
}

/*---------------------------------------------------------- 
# Chapitre 7
----------------------------------------------------------*/

#chapitre7 {
  background: url(../img/img_arriere_plan/chapitre_07.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}

/*-- Objets chapitre 7--*/

.polaris-joie {
  position: absolute;
  left: 40vw;
  bottom: 15vh;
  width: 20vw;
  aspect-ratio: 1/1;
}

.etoile-ours {
  position: absolute;
  width: 15vw;
  left: 9.5vw;
  bottom: 37vh;
  aspect-ratio: 1/1;
}

.petit-oursun {
  position: absolute;
  width: 15vw;
  right: 70vw;
  bottom: 35vh;
  aspect-ratio: 1/1;
}

.petit-ours-coeur {
  position: absolute;
  width: 15vw;
  right: 70vw;
  bottom: 35vh;
  opacity: 0;
  aspect-ratio: 1/1;
}

/*---------------------------------------------------------- 
# Chapitre 8
----------------------------------------------------------*/

#chapitre8 {
  background: url(../img/img_arriere_plan/chapitre_08.jpg) no-repeat 0 0;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}

/* --Objets chapitre 8--*/

.lit-cadre-fin {
  position: absolute;
  width: 50vw;
  bottom: -5vw;
  left: 24vw;
  aspect-ratio: 5/3;
}

.lit-couverture-fin {
  position: absolute;
  width: 50vw;
  bottom: -7vw;
  left: 30vw;
  aspect-ratio: 5/3;
}

.polaris-dort-fin {
  position: absolute;
  width: 25vw;
  bottom: 3vw;
  left: 33vw;
  z-index: 1;
  aspect-ratio: 1/1;
}
